* {
    margin: 0;
    padding: 0;
    background-color: #BFBEC5;
}
/* header part */
.header {
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.logo {
    height: 100px;
    width: 100px;
    margin-top: 50px;
    border-radius: 15px;
}
#logocomcom {
    margin-left: 20px;
}
#logostructure {
    margin-right: 20px;
}
.title {
    display: flex;
    justify-content: center;
    
}
#title {
    border: 1px solid black;
    font-size: 1.5em;
    border-radius: 25px;
    margin-top: 15px;
    background-color: #FFF;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 100px;
    width: 500px;
}
#title > h1 {
    margin-top: 25px;
    background-color: #FFF;

}
#title > a {
    text-decoration: none;
    color: black;
    background-color: #FFF;
}

.categories_section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.categorie {
    margin-top: 20px;
    background-color: #FFF;
    height: 50px;
    width: 500px;
    text-align: center;
    border-radius: 50px;
    padding-top: 15px;
    font-size: 2em;
    margin: 15px;
}
.categorie > a {
    text-decoration: none;
    color: black;
    background-color: #FFF;
}
.image_categories {
    height: 30px;
    width: 30px;
    background-color: #FFF;
    margin-right: 20px;

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .header {
        display: flex;
        justify-content: space-between;
        height: auto;
    }    
    #title{
        font-size: 0.9em;
        width: 200px;
    }
    #title > a {
        text-decoration: none;
        color: black;
        background-color: #FFF;
    }
    .flag_categories {
        display: flex;
        margin-top: 20px;
        background-color: #FFF;
        height: 50px;
        width: 500px;
        text-align: center;
        border-radius: 50px;
        padding-top: 15px;
        font-size: 2em;
        margin: 15px;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
    }
    .flag_categories > a {
        text-decoration: none;
        color: black;
    }
    .img_flag {
        height: 30px;
        width: 30px;
        margin-right: 20px;
    }
    .flag_content {
        background-color: #FFF;
    }
}