* {
    margin: 0;
    padding: 0;
    background-color: #BFBEC5;
}
/* header part */
.header {
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.logo {
    height: 100px;
    width: 100px;
    margin-top: 50px;
    border-radius: 15px;
}
#logocomcom {
    margin-left: 20px;
}
#logostructure {
    margin-right: 20px;
}
.title {
    display: flex;
    justify-content: center;
    
}
#title {
    border: 1px solid black;
    font-size: 1.5em;
    border-radius: 25px;
    margin-top: 15px;
    background-color: #FFF;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 100px;
    width: 500px;
}
#title > h1 {
    margin-top: 25px;
    background-color: #FFF;

}
#title > a {
    text-decoration: none;
    color: black;
    background-color: #FFF;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .header {
        display: flex;
        justify-content: space-between;
        height: auto;
    }    
    #title{
        font-size: 0.9em;
        width: 200px;
    }
    #title > a {
        text-decoration: none;
        color: black;
        background-color: #FFF;
    }
    .div_image {
        background-color: #FFF;
        height: 50px;
        display: flex;
        border-radius: 25px;
        margin-top: 20px;
        justify-content: center;
        font-size: 1.8em;
    }
    .div_image > p {
        background-color: #FFF;
        margin-top: 9px;
        margin-left: 20px;
    }
    .flag_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .flag {
        height: 30px;
        width: 50px;
        margin-top: 10px;
        margin-left: 30px;
    }
}