* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #BFBEC5;

}
/* header part */
.header {
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.logo {
    height: 100px;
    width: 100px;
    margin-top: 50px;
    border-radius: 15px;
}
#logocomcom {
    margin-left: 20px;
}
#logostructure {
    margin-right: 20px;
}
.title {
    display: flex;
    justify-content: center;
    
}
#title {
    border: 1px solid black;
    font-size: 1.5em;
    border-radius: 25px;
    margin-top: 15px;
    background-color: #FFF;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 100px;
    width: 500px;
}
#title > h1 {
    margin-top: 25px;
    background-color: #FFF;

}
#title > a {
    text-decoration: none;
    color: black;
    background-color: #FFF;
}
/* end header part */

/* flag part */
.flag_section {
    display: flex;
    justify-content: center;
    margin-top: 20px
}
.flag {
    margin: 10px;
    border-radius: 100%;
}
/* end flag part */

/* categories part */
.categories_section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.categorie {
    margin-top: 20px;
    background-color: #FFF;
    height: 50px;
    width: 500px;
    text-align: center;
    border-radius: 50px;
    padding-top: 15px;
    font-size: 2em;
    margin: 15px;
}
.categorie > a {
    text-decoration: none;
    color: black;
    background-color: #FFF;
}
.image_categories {
    height: 30px;
    width: 30px;
    background-color: #FFF;
    margin-right: 20px;

}
.categories_mobile {
    display: none;
}
.map {
    display: none
}
.div_text {
    display: none;
}
.leaflet-popup-content {
    background-color: #FFF !important;
}


/* media querie categories */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .header {
        display: flex;
        justify-content: space-between;
        height: auto;
    }    
    #title{
        font-size: 0.9em;
        width: 200px;
    }
    #title > a {
        text-decoration: none;
        color: black;
        background-color: #FFF;
    }
    .categories_section {
        display: none;
    }
    .categories_mobile {
        display: flex;
        flex-direction: column;
        background-color: #ADACB5;
        height: 470px;
        width: 50px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        margin-left: 5px;
    }
    .map {
        display: flex;
        height: 100%;
        width: 100%;
        margin-left: 20px;
        
    }
    .div_text {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 265px;
        background-color: #FFF;
        margin: 20px;
    }
    .flag_section {
        display: none;
    }
    .map_categories {
        display: flex;
        margin-top: 30px;
        height: 470px;
        width: 320px;
    }
    .icon_categories {
        margin-top: 15px !important;
        background-color: #FFF;
        height: 30px;
        width: 30px;
        text-align: center;
        border-top-left-radius: 150px;
        border-bottom-left-radius: 150px;
        padding-top: 0px;
        margin: 0px;
        margin-left: 15px;
    }
    .image_categories_mobile {
        height: 30px;
        width: 25px;
        background-color: #FFF;
        border-radius: 25px;
    }
    .chevron {
        font-size: 1.6em;
        text-decoration: none;
        color: black;
    }
    .map_map {
        width: 280px;
        height: 500px;
        margin-top: 20px;
    }
}